/*General*/

body {
  position: relative;
  padding-top: 30px;
}

.navbar {
  border-bottom-color: rgb(195, 35, 15);
  font-size: 1.75em;
}

#content {
  padding-bottom: 5em;
}

footer {
  padding-top: 5em;
  border-top: 2px solid rgb(229, 229, 229);

}

/*Masthead*/

.bs-masthead {
  position: relative;
  min-height: 15em;
  padding: 5em 5em;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(217, 35, 15);
  color: white;
}

.bs-masthead h1 {
  font-size: 72px;
}

/*Project panels*/

.project-panel {
  font-size: 1.25em;
}

.project-title {
  font-size:1.5em;
}

/*Social media buttons*/

.bs-social {
    text-align: center;
}

.bs-social-buttons {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none outside none;
}

.bs-social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}

.bs-social-buttons li img {
  width: 3em;
  height: 3em;
}

/*Footer signature*/

#signature {
  text-align: center;
}