/*General*/

body {
  position: relative;
  padding-top: 30px;
}

.navbar {
  border-bottom-color: rgb(195, 35, 15);
  font-size: 1.75em;
}

footer {
  padding-top: 5em;
  border-top: 2px solid rgb(229, 229, 229);
}

.center {
  text-align: center;
}

/*Masthead*/

.bs-masthead {
  position: relative;
  min-height: 15em;
  padding: 0em;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(217, 35, 15);
  color: white;
}

.bs-masthead h1 {
  font-size: 5em;
}

.bs-masthead h3 {
  font-size: 3em;
}

.bs-masthead img {
  width: 100%;
  opacity: .45;
  margin-top: 0px;
}

.bs-masthead p {
  color: rgb(51,51,51);
  font-size: .5em;
}

.masthead-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  padding: 3em 0em;
}

/*Project*/

div#projects {
  margin-bottom: 1em !important;
}

.panel {
  margin-top: 0px !important;
}

.project-title {
  font-size: 2em;
}

.project-body {
  padding: 0px;
  position: relative;
}

.project-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  padding: 15px;
  color: white;
}

.project-content h1 {
  font-size: 5em;
}

.project-content a {
  color: rgb(155,155,155);
}

.project-text {
  margin: 0px auto;
  position: relative;
  font-size: 1.5em;
  width: 80%;
}

.project-content .panel {
  opacity: .5;
}

.project-body img {
  width: 100%;
  margin: 0px auto;
  opacity: .3;
}

.project-body {
  background: -moz-linear-gradient(0deg, rgb(217, 35, 15) 0%, rgb(150, 50, 50) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(150, 50, 50)), color-stop(100%,rgb(150, 50, 50)));
  background: -webkit-linear-gradient(0deg, rgb(217, 35, 15) 0%,rgb(150, 50, 50) 100%);
  background: -o-linear-gradient(0deg, rgb(217, 35, 15) 0%,rgb(150, 50, 50) 100%);
  background: -ms-linear-gradient(0deg, rgb(217, 35, 15) 0%,rgb(150, 50, 50) 100%);
  background: linear-gradient(0deg, rgb(217, 35, 15) 0%,rgb(150, 50, 50) 100%);
}

/*About page*/

#about-mast {
  background-color: #d9230f;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 2em;
}

#about-mast h1 {
  font-size: 5em;
  color: white;
}

#about-mast h2 {
  font-size: 3em;
  color:white;
}

#about-mast p {
  font-size: 1.25em;
  color: white;
}

#experience .container hr {
  border-color: #d9230f;
}

#education {
  background-color: #d9560f;
  color: white;
  padding-bottom: 1em;
}

#experience {
  color: #d9230f;  
  padding-bottom: 1em;
}

.list-unstyled {
  font-size: 1.25em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#skills {
  background-color: white;
  color: #d9560f;
  padding-bottom: 1em;
}

#proj {
  background-color: #d90f4c;
  color: white;
}

#proj .container p{
  font-size: 1.25em;
}

#proj .container a{
  color: grey;
}

/*Social media buttons*/

.bs-social {
    text-align: center;
}

.bs-social-buttons {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none outside none;
}

.bs-social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}

.bs-social-buttons li img {
  width: 3em;
  height: 3em;
}

/*Posts*/

.post-title {
  padding-top: 1em;
  font-size: 4em;
}

.post-title h1 {
  font-size: 1.5em;
}

.post-content {
  padding: 1em 0em;
  background-color: rgb(217, 35, 15);
  font-size: 1.5em;
  color: white;
}


/*Footer signature*/

#signature {
  text-align: center;
}