---
layout: default
title: Welcome!
---

<body>

<div id="wrapper" class="divided">
  <img src="https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/177717_10150985353005909_1615519744_o.jpg">
  <section class="banner color0 - style3 orient-center content-align-center image-position-center">
    <div class="content">
      <h1>Mason del Rosario, PE</h1>
      <p class="major">PhD Student of Electrical and Computer Engineering</p>
      <p>Machine learning, optimization, wireless communications.</p>
<!--       <ul class="actions vertical">
        <li><a href="#first" class="button big wide smooth-scroll-middle">Get in Touch</a></li>
      </ul> -->
    </div>
    <div class="image">
      <img src="images/headshot.jpg" alt="">
    </div>
  </section>
<!-- <section class="wrapper color0 style1 align-center invert">
  <div class="banner color0 - style3 orient-center content-align-center image-position-center">
    <div class='inner'>
      {% for post in site.posts %} 
          <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
            <p>{{ post.date | date_to_string }}</p>
          </a>
      {% endfor %}
    </div>
  </div>
</section> -->
<!-- Spotlight -->
<section class="wrapper color0 style1 align-center invert">
  <div class="inner">
    <div class="index align-left">
      <!-- Definition List -->
        <section>
          <header>
          <h3>Education</h3>
          </header>
          <div class="content">
            <dl>
              <dt> University of California, Davis (2018-Present)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>PhD Student - Electrical and Computer Engineering</li>
                  <li><b>Course Highlights:</b>
                    <ul>
                      <li><b>Engineering</b>: Linear Signals and Systems, Random Signals and Noise, Reinforcement Learning, Digital Signal Processing, Optimal and Adaptive Filtering, Neural Control Systems.</li>
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>Olin College of Engineering (2012-2016)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>B.S. Electrical and Computer Engineering (2016)</li>
                  <li><b>Course Highlights:</b>
                    <ul>
                      <li><b>Engineering</b>: Controls, Elecanisms, Analog and Digital Communications, Power Supply Design, High Voltage Electronics, Microelectronic Circuits, MADVLSI</li>
                      <li><b>Design</b>: Design Nature, User-Oriented Collaborative Design, Sustainable Design</li>
                    </ul>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
        </section>
        <!-- Research  -->
        <section>
          <header>
            <h3>Research</h3>
          </header>
          <div>
            <dl>
              <dt>Fading Channel Characterization via Generative Adversarial Networks</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>Using variational GANs to generate approximate non-additive wireless communications channel.</li>
                  <li><a href='https://colab.research.google.com/drive/1hso_Ifi5eXTGOk_0P9BKGt7Yt3Ru-SP_' >Google Colab</a></li>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
        </section>
        <!-- Teaching  -->
        <section>
          <header>
            <h3>Teaching</h3>
          </header>
          <div>
            <dl>
              <dt>Head Teaching Assistant: EEC 160 Analog and Digital Communications (Fall 2019)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>Wrote solutions for 8 writtten homework assignments and 5 MATLAB-based computer assignments based on problems from <a href="https://www.amazon.com/Digital-Communication-Electrical-Computer-Engineering/dp/0190686847">Modern Digital and Analog Communication</a>.</li>
                  <li>Hosted bi-weekly office hours answering conceptual questions about signal analysis and analog/digital modulation.</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>Teaching Assistant: Internet of Things (Summer 2019)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>Helped design and run a summer course teaching high school students embedded programming for IoT devices.</li>
                  <li>Read about it <a href='/2019/08/02/comsos-teaching.html'>here</a>!</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>Private Tutor (01/2019 to 05/2019)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>Taught concepts from signal processing, control theory, and digital systems to help client pass <a href="https://ncees.org/wp-content/uploads/FE-Ele-CBT-specs.pdf">Fundamentals of Engineering Exam</a> for Electrical and Computer Engineering.</li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>Teaching Assistant: EEC 157A Control Systems (Fall 2018)</dt>
              <dd>
                <ul>
                <!-- <ul class="alt"> -->
                  <li>Conducted lab sessions to assist students in implementing linear system analysis and compensation techniques in MATLAB and with debugging robotic system learning kits (RSLKs).</li>
                </ul>
              </dd>
            </dl>
          </div>
        </section>
      </div>
    </div>
</section>
<!-- Projects Gallery -->
<section class="wrapper color0 style1 align-center">
  <div class="inner">
    <h3>Professional Experience</h3>
  </div>
  <!-- Gallery -->
    <div class="gallery style1 small lightbox">
      <div class="modal" tabindex="-1">
        <div class="inner"><img src=""></div>
      </div>
      <div class="forward"></div>
      <div class="backward"></div>
      <div class="inner" style="overflow: hidden;"></div>
      <!-- Tesla (Full-Time) -->
      <article>
        <a href="images/gallery/fulls/m3-silver.jpg" class="image">
          <img src="images/gallery/thumbs/tesla.jpg" alt="">
        </a>
        <div class="caption">
          <h3>Test Engineer</h3>
          <p>June 2016 - September 2018</p>
          <ul class="actions">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <!-- Levant -->
      <article>
        <a href="images/gallery/fulls/clearmotion.jpg" class="image">
          <img src="images/gallery/thumbs/levant.png" alt="">
        </a>
        <div class="caption">
          <h3>Systems Integration Co-op</h3>
          <p>November 2015 - May 2016</p>
          <ul class="actions">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <!-- Tesla (Internship) -->
      <article>
        <a href="images/gallery/fulls/mx-white.jpg" class="image" title="Hey There">
          <img src="images/gallery/thumbs/tesla.jpg" alt="">
        </a>
        <div class="caption">
          <h3>Component Test Intern </h3>
          <p>January 2015 - August 2015</p>
          <ul class="actions">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
      <!-- Dynamo  -->
      <article>
        <a href="images/gallery/fulls/dynamo.png" class="image">
          <img src="images/gallery/thumbs/dynamo.png" alt="">
        </a>
        <div class="caption">
          <h3>Engineering Intern</h3>
          <p>May 2014 - August 2014</p>
          <ul class="actions">
            <li><span class="button small">Details</span></li>
          </ul>
        </div>
      </article>
    </div>
</section>

<section class="wrapper invert style1 align-center">
  <div class="inner">
    <h3>Projects</h3>
    <h4>Graduate</h4>
    <div class="items style1 small">
      <section>
        <span class="icon style2 major fa-exchange"></span>
        <h4>Maximum Mutual Information Design for MIMO Systems: Paper Review</h4>
        <p>Replication of results from "<a href="https://ieeexplore.ieee.org/document/5571881"> Maximum Mutual Information Design for MIMO Systems With Imperfect Channel Knowledge</a>". Project report <a href="papers/eec266_final_delRosario.pdf">here</a>. Github <a href="https://github.com/mdelrosa/eec266_project">here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-long-arrow-down"></span>
        <h4>Stochastic Gradient Descent: An Overview</h4>
        <p>Term paper summarizing stochastic gradient descent in the context of machine learning. See paper <a href="papers/eec263_SGDinML_delRosario.pdf">here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-bell"></span>
        <h4>Recovering Temporal Dynamics via GPFA</h4>
        <p>Using Gaussian Process Factor Analysis (GPFA) to estimate behavioral dynamics of animal based on neuronal population data. Final presentation <a href="slides/mae298_GPFAPresentation_delRosario.pdf">here</a> Github <a href="https://github.com/mdelrosa/tilt-gpfa">here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-volume-up"></span>
        <h4>LPC Vocoder</h4>
        <p>Implemented a vocal synthesizer using linear predictive coding. <a href='https://github.com/mdelrosa/eec201_final_project'>Github here</a>. <a href='https://www.youtube.com/watch?v=_7KegbahrVY'>Demo here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-signal"></span>
        <h4>Reinforcement Learning and Resource Allocation</h4>
        <p>Applied multi-armed bandit framework to problem of resource allocation in simple wireless communications network. <a href='https://github.com/mdelrosa/eec289a_final_project'>Github here</a>.</p>
      </section>
    </div>
    <h4>Undergraduate</h4>
    <div class="items style1 small">
      <section>
        <span class="icon style2 major fa-motorcycle"></span>
        <h4>Harley-Davidson SCOPE</h4>
        <p>Acted as liaison between Olin student team and Harley-Davidson engineers. Project archival poster <a href='http://olin.edu/sites/default/files/2016hd_archivalposter.pdf'>here</a>. More info <a href='http://bit.ly/harley-davidson-scope'>here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-leaf"></span>
        <h4>Rice and Sustainability</h4>
        <p>Collaborated with other students to evaluate <a href='https://www.scribd.com/document/360903616/00-Rice-Experience'>the experience</a> of cooking rice, the <a href='https://www.scribd.com/document/360904402/01-Rice-Impact'>environmental impact</a> associated with cooking rice, and an <a href='https://www.scribd.com/document/360904449/02-Rice-Final-Design-Description'>alternative design</a> with less impact.</p>
      </section>
      <section>
        <span class="icon style2 major fa-rocket"></span>
        <h4>Space Origin: X</h4>
        <p>Programmed kinematic rocket model of falling rocket in embedded C. Designed website. Project site <a href='http://bit.ly/elecanisms-sox'>here</a>.</p>
      </section>
      <section>
        <span class="icon style2 major fa-bolt"></span>
        <h4>Analog Levitation</h4>
        <p>Designed and built analog circuit which utilized light-based feedback to suspend a metal ball in mid-air. Demo video <a href='http://bit.ly/controls-maglev'>here</a>.</p>
      </section>
       <section>
        <span class="icon style2 major fa-user"></span>
        <h4>Design for Blacksmiths</h4>
        <p>Studied blacksmiths, identified their pain-points, and developed a concept for a thermally-insulated smart glove, removing the need for tongs.</p>
      </section>
    </div>
  </div>
</section>
<!-- <section class="wrapper style1 align-center"
  <div class="gallery style1 medium lightbox">
    <article>
      <a href="(full image URL)" class="image">
        <img src="(thumbnail image URL)" alt="Alternate text" />
      </a>
      <div class="caption">
        (caption)
      </div>
    </article>
    <article>
      <a href="(full image URL)" class="image">
        <img src="(thumbnail image URL)" alt="Alternate text" />
      </a>
      <div class="caption">
        (caption)
      </div>
    </article>
    <article>
      <a href="(full image URL)" class="image">
        <img src="(thumbnail image URL)" alt="Alternate text" />
      </a>
      <div class="caption">
        (caption)
      </div>
    </article>
  </div>
</section> -->

      <!-- <h2>Under Construction</h2> -->
      <!-- <div class="panel-group" id="accordion"> -->
<!--         {% for post in site.posts %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href = "#{{ post.postid }}">
                  {{ post.title }} 
                </a>
                <small> {{ post.date }}</small>
              </h2>
            </div>
            <div id="#{{ post.postid }}" class="panel-collapse collapse">
              <div class="blog-panel panel-body">
                {{ post.meta }}
              </div>
            </div>
          </div>
        {% endfor %} -->
      <!-- </div> -->
</div>


</body>