---
username: mdelrosa
---
  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | MDR</title>
        <meta name="viewport" content="width=device-width">

        <!-- Dependencies -->
        <!-- <link rel="stylesheet" href="/css/simplex.css"> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bw.css">
        <!-- Custom Script -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
        <!-- <script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.e722c258c2de2a7c30637037cf3fc66c.js"></script>
        <script type="text/javascript" src="/js/demo.js"></script>
        <script type="text/javascript" src="/js/util.js"></script>

 -->
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    </head>
    <body id="demo" class="dark">

      <!-- <header class="navbar navbar-inverse vbar-absolute na navbar-fixed-top bs-docs-nav" role="banner"> -->
      <header id="demo-header">
          <!-- <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">mdr</a>
                <a href="/projects">Projects</a>
              </li>
            </ul> -->
            <!-- <section class="wrapper style1 orient-center">
            <div class="inner left">
              <div class='index align-left'>
              <ul class="selector">
                <li class=""><a href="/">Home</a></li>
              </ul>
              </div>
            </div>
            </section>
          </nav> -->
          <div class="container wrapper">
          <nav class="navbar sticky-top navbar-dark navbar-expand-md">
            <!-- <div class="inner container"> -->
              <!-- <div class="row justify-content-md-center"> -->
                <!-- <div class='col col-xl inline'> -->
                  <a class="navbar-brand" href="#">Mason del Rosario</a>
              <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                  <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
          </nav>
          </div>
      </header>

      <main id="content">
          {{ content }}
      </main>

      <footer class="footer wrapper style1 align-center">
<!--         <div id="signature">
        <p>Mason del Rosario &copy; 2017</p>
        </div> -->
<!--         <div class="bs-social">
          <ul class="bs-social-buttons">
            <li><a href="https://grabcad.com/mason.del.rosario-1"><img class="img-rounded" src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/7b766ae1205940aca53f9399c67d9490/large.png"> </img></a></li>
            <li><a href="https://github.com/mdelrosa"><img class="github-badge img-rounded" src="http://komelin.com/sites/all/themes/komelin/images/icons/github.jpg"> </img></a></li>
            <li><a href="http://www.linkedin.com/in/masondelrosario/"><img class="img-rounded" src="http://www.geography.ohio-state.edu/img/socialnetworking/linkedin-logo_small.gif"> </img></a></li>
          </ul>
        </div> -->
        <div class="inner">
              <ul class="icons">
                <!-- <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li> -->
                <!-- <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li> -->
                <li><a href="https://github.com/mdelrosa" class="icon style2 fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.instagram.com/scoundelro13/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.linkedin.com/in/masondelrosario/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <!-- <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li> -->
              </ul>
              <p>© Mason del Rosario 2019. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </div>
      </footer>

    </body>
</html>
